* {
  margin: 0;
  padding: 0;
}
header {
  background-color: black;
  line-height: 60px;
  background-image: url("../Header/concert_cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-container {
  text-align: center;
  padding: 50px;
}
.header-container h1 {
  background-color: rgba(99, 95, 95, 0.486);
  padding: 10px;
  color: rgb(240, 122, 12);
  margin: 0 300px;
  border-radius: 50px;
}
.header-container h2 {
  color: rgba(255, 228, 196, 0.644);
}
